@font-face {
    font-family: ITC;
    src: url(fonts/ITCAvantGardeStd-Bk.ttf);
}
@font-face {
    font-family: Major;
    src: url(fonts/MajorMonoDisplay-Regular.ttf);
}

.cloth_page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.geo_container1{
    margin-top: 120px;
    width: 65vw;
    display: flex;
}

.geo_container2{
    margin-top: 40px;
    width: 65vw;
    display: flex;
}


.img_geo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 511px;
    height: 288px;
    overflow: hidden;
}

.text_geo{
    width: 50%;
    margin-top: 40px;
    margin-left: 80px;
}

.text_geo p{
    font-family: ITC;
    color: #fff;
}

.geo_title{
    font-family: ITC;
    font-size: 28px;

}

.geo_tel{
    margin-top: 20px;
    font-size: 18px;
}

.geo_text{
    font-size: 18px;
    margin-top: 4px;
    color: #FFB800 !important;
}